body {
  font-family: "Inter", sans-serif;
  color: rgb(65, 65, 66);
}

h2 {
  font-weight: 600;
  letter-spacing: 0.3px;
}

.custom-navbar {
  background-color: #0f172a;
  padding: 0.8rem 0;
}

.navbar-brand {
  font-size: 1.4rem;
  letter-spacing: 0.5px;
}

.nav-link {
  color: #cbd5e1 !important;
  margin-left: 0.5rem;
  transition: color 0.3s ease, border-bottom 0.3s ease;
}

.nav-link:hover {
  color: #ffffff !important;
}

.active-link {
  color: rgb(220, 53, 69) !important;
  border-bottom: 2px solid #dc3545;
}

.navbar-toggler {
  color: #dc3545 !important;
  border: none;
}
.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

//News Items
.news-card .card-title {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.4;
}

.news-card .card-text {
  font-size: 0.9rem;
  color: #cbd5e1;
}

.news-card img {
  height: 180px;
  object-fit: cover;
}

.news-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.4);
}
